@use '../settings' as set;

.intro{
    text-align: center;
    padding: 30px;
    background: set.$colorBG2;
    h2{
        margin-bottom: 20px;
        @media screen and (min-width: 1438px) {
            font-size: 2.5rem;
        }
    }
    p{
        margin-bottom: 20px;
        color: set.$grey;
        font-size: 1.125rem;
    }
}