@use "../settings" as set;

.functioning{
    padding: 30px;
    @media screen and (min-width: 770px) {
        padding: 40px 120px;
    }
    @media screen and (min-width: 1000px) {
        padding: 40px;
    }
    @media screen and (min-width: 1438px) {
        padding: 50px 180px;
    }
    h2{
        margin-bottom: 30px;
    }
    .steps{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 25px;
        @media screen and (min-width: 1000px) {
            flex-direction: row;
        }
        @media screen and (min-width: 1438px) {
            flex-direction: row;
        }
        .step{
            display: flex;
            align-items: center;
            background: set.$colorBG2;
            border-radius: 20px;
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
            position: relative;
            width: 100%;
            padding: 20px;
            margin-left: 10px;
            i{
                color: set.$iconFontAwsome;
                width: 40px;
                margin-left: 10px;
            }
            &:nth-child(3) i {
                color: set.$colorPrimary
            }
            
            span{
                position: absolute;
                left: 0px;
                top: 50%;
                transform: translate(-50%, -50%);
                background: set.$colorPrimary;
                padding: 10px;
                height: 24px;
                width: 24px;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 0.886rem;
                font-family: set.$subtitle;
            }
            h3{
                font-size: 1rem;
            }
        }
    }
}