@use "../settings" as set;

header{
    .logo-container{

        position: relative;
        .go-back{
            height: 100%;
            width: 70px;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
        }
    }
    .img-container{
        height: 30vh;
        width: 100%;
        .img-palette{
            background: url(./../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) center/cover;
            width: 100%;
            height: 40vh;
        }
        .img-delice{
            background: url(./../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg) center/cover;
            width: 100%;
            height: 40vh;
        }
        .img-note{
            background: url(./../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg) center/cover;
            width: 100%;
            height: 40vh;
        }
        .img-francaise{
            background: url(./../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg) center/cover;
            width: 100%;
            height: 40vh;
        }
    }
}
.menu{
    max-width: 1055px;
    margin: 0 auto;
    background: set.$colorBG1;
    border-radius: 40px 40px 0 0;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .restaurant-name{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 30px;
        width: 100%;
        gap: 30px;
        @media screen and (min-width:766px) {
            justify-content: center;
        }
        h2{
            font-family: set.$Logo;
            font-weight: 400;
            font-size: 1.75rem;
        }
        
    }
    .starters, .dishes, .desserts{
        width: 100%;
        max-width: 634px;
        margin: 0 auto;
        h4{
            font-family: set.$paragraphs;
            font-weight: 300;
            position: relative;
            margin: 30px 0 20px;
            text-transform: uppercase;
            &::after{
                content: "";
                position: absolute;
                height: 3px;
                width: 40px;
                background: set.$color3;
                bottom: -10px;
                left: 0;
                z-index: 1000;
            }
        }
        .meal{
            cursor: pointer;
            padding: 10px;
            border-radius: 15px;
            color: white;
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
            position: relative;
            line-height: 1.5rem;
            margin-bottom: 10px;
            h3{
                font-weight: 500;
                text-align: left;
            }
            p{
                font-size: 15px;
                text-align: left;
            }
            span{
                position: absolute;
                right: 5%;
                bottom: 15%;
                font-weight: 700;
                font-family: set.$Subtitles;
                font-size: 15px;
            }
        }
    }
    .big-button{
        padding: 15px 45px;
    }
    .like{
        left: 30px;
        @media screen and (min-width:766px) {
            margin-left: 30px;
        }
    }
}