
@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto/Roboto-Light.ttf');
}
@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Shrikhand';
    src: url('../fonts/Shrikhand/Shrikhand-Regular.ttf');
}


$logo:'Shrikhand', sans-serif;
$title:'RobotoBold', sans-serif;
$subtitle:'RobotoMedium', sans-serif;
$paragraph:'RobotoLight', sans-serif;

$colorPrimary: #9356DC;
$colorSecondary: #FF79DA;
$colorTertiary: #99E2D0;
$colorBG1: #EAEAEA;
$colorBG2: #F6F6F6;
$grey:#353535;
$iconFontAwsome:#7E7E7E;

//colorBackground trouver des nom plus parlant/adapté prim second ters. exemple gray, light gray..

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
    h1{
        font-family: $logo;
        font-size: 1.875rem;
        font-weight: 400;
    }
    h2{
        font-family: $title;
        font-size: 1.5rem;
    }
    h3{
        font-family: $subtitle;
        font-size: 1.125rem;
    }
    p{
        font-family: $paragraph;
    }
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $colorTertiary;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    animation: loaderFade 1.5s ease forwards;
    animation-iteration-count: 1;
    &::after{
        content: "";
        height: 75px;
        width: 75px;
        border: 35px solid $colorPrimary;
        border-top: 35px solid #FF79DA;
        z-index: 2;
        animation: loading 2s ease-in-out infinite;
    }
    @keyframes loading {
        0% {transform: rotate(0deg);}
        25%{transform: rotate(90deg);}
        50%{transform: rotate(180deg);}
        75%{transform: rotate(270deg);}
        100%{transform: rotate(360deg);}
    }
    @keyframes loaderFade {
        0%{background: white;
            opacity: 1;
            visibility: visible;}
        10%{opacity: 1;
        visibility: visible;}
        80%{opacity: 1;
        visibility: visible;}
        100%{opacity: 0;
        visibility: hidden;}
    }
}